
.box-masonry {
/*  background: #fff;*/
  background: #E8E8E8;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
}